.board {
  margin: 0 auto;
  text-align: center;
  font-family: cursive;
  font-size: larger;
  font-stretch: expanded;
  width: 100%;
  height: 100%;
  background-color: aqua;
  display: table;
}

.ranklist {
  display: table;
  text-align: center;
  margin-left: 100px;
  margin: 0 auto;
  background-color: rgb(39, 14, 165);
  width: 50%;
}
